
/* Animations */

.fade-in{
    animation: fade-in 0.2s ease-in forwards;
    transition:opacity 300ms ease-out
   }
  
  .fade-out{
   animation: fade-out 0.2s ease-in forwards;
   transition: opacity 300ms ease-out
  }
  
  @keyframes fade-in{
   from{
     opacity: 0;
   }
   to{
     opacity: 1;
     visibility: visible;
   }
  }
  
  @keyframes fade-out{
   from{
  
     opacity: 1;
   }
   to{
     opacity: 0;
   
   }
  }
  
  /* Animations  END */

  


.centralize{
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #505050;
}

body{
    margin: 0;
  
}
// HEADER

.header-container{

    width: 100%;
    height: 60px;
    background-color: #3c3c3c;
    padding-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;

    h1{
        margin: 0;
        padding: 0;
        color: white;
        float: left;
        width: 220px;
    }
}

.header-tomato-icon {
    background-image: url("../assets/tomato_icon.svg");
    width: 40px;
    height: 40px;
    background-size: cover;
    float: left;
 }



.main-left{
    width: 60%;
    float: left;
}

.main-right{
    width: 40%;
    float: left;
}


